/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Lato', sans-serif !important;
}


.mainContainer{
  @apply p-6 md:p-0
}

.pageHeadingComponent{
  @apply flex justify-between
}

.pageHeadingH1{
  @apply text-3xl font-bold
}

.pageHeadingButton{
  @apply bg-cyan-500 text-white rounded-md p-2 text-sm
}

.spacer10{
  @apply h-10

}

.tableMainContainer{
  @apply flex flex-col
}

.mainTableWrapper{
  @apply -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8
}

.tableContentInnerWrraper{
 @apply py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8
}

.tableShadowContainer{
   @apply   shadow   overflow-hidden  border-b border-gray-200 sm:rounded-lg
}

.tableStyles{
  @apply min-w-full divide-y divide-gray-200
}

.tableHeadStyles{
  @apply bg-cyan-50
}

.thStyles{
   @apply  px-6 py-3  text-left text-xs font-medium  text-gray-500 uppercase  tracking-wider
}

.thAction{
  @apply   relative px-10 py-3  text-xs  font-medium  text-gray-500
}

.tableBodyStyles{
  @apply bg-white divide-y divide-gray-200
}

.tableDataStyles{
  @apply px-6 py-4 whitespace-nowrap
}

.txtTableData{
  @apply text-sm font-medium text-gray-900
}

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}
